.about {
    padding: 100px 0 80px;

    .text {
        font-size: 28px;
        line-height: 126%;
        margin-top: 17px;
        max-width: 880px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin-top: 70px;
    }

    .item {
        border-radius: 25px;
        background-color: #F2F4F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        height: 200px;
        padding: 30px;

        p {
            font-size: 48px;
            font-weight: 500;
            line-height: 126%;
        }
    }
}

@media screen and (max-width: 1700px) {
    .about {
        .text {
            max-width: 712px;
            font-size: 22px;
            line-height: 126%;
        }

        .grid {
            margin-top: 57px;
            gap: 12px;
        }

        .item {
            height: 160px;
            gap: 7px;

            p {
                font-size: 38px;
                line-height: 126%;
            }

            span {
                font-size: 20px;
                line-height: 126%;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .about {
        .grid {
            grid-template-columns: 1fr 1fr;
        }

        .item:last-child {
            grid-column: span 2;
        }
    }
}

@media screen and (max-width: 760px) {
    .about {
        padding: 70px 0 0;

        .text {
            font-size: 15px;
            margin-top: 15px;
        }

        .grid {
            gap: 10px;
            margin-top: 30px;
        }

        .item {
            padding: 20px 15px;
            height: 110px;
            gap: 5px;

            p {
                font-size: 24px;
                line-height: 126%;
            }

            span {
                font-size: 15px;
                line-height: 115%;
            }
        }
    }
}