.calculator {
    padding: 100px 0 80px;

    .wrapper {
        margin-top: 47px;
        display: grid;
        grid-template: 500px / 1fr 450px 450px;
        gap: 25px;
        
        .form {
            max-width: 500px;
            display: flex;
            flex-direction: column;

            .field-square {
                margin-top: 40px;
                position: relative;

                input[type="range"] {
                    position: absolute;
                    bottom: -3px;
                    left: 10px;
                    width: calc(100% - 20px);
                }
            }

            .btn {
                margin-top: auto;
                width: 410px;
            }
        }

        .result {
            border-radius: 15px;
            display: flex;
            flex-direction: column;

            > div {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                padding: 30px;

                > div:last-child {
                    margin-top: auto;
                }
            }

            .bottom {
                margin-top: auto;
                border-radius: inherit;

                 * {
                    color: #FFF;
                }
            }

            &__item {
                display: flex;
                flex-direction: column;
                gap: 7px;    

                p {
                    font-size: 20px;
                    line-height: 110%;
                }

                h2 {
                    line-height: 100%;
                }
            }

            &_info {
                background-color: #FFDED0;

                .bottom {
                    background-color: #EE7E4E;
                }
            }

            &_income {
                background-color: #C1E3D1;

                .bottom {
                    background-color: #409E6C;
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .calculator {
        .wrapper {
            margin-top: 38px;
            gap: 20px;
            grid-template: 400px / 1fr 370px 370px;
            max-width: 100%;

            .form {
                margin-right: 15px;

                .select {
                    select {
                        font-size: 20px;
                        height: 64px;
                        padding: 20px 20px;
                    }

                    &::after {
                        bottom: 17px;
                    }
                }

                .field-square {
                    margin-top: 40px;
                }

                .input {
                    input {
                        font-size: 20px;
                        height: 64px;
                    }
                }

                .select, .input {
                    gap: 10px;

                    label {
                        font-size: 20px;
                    }
                }

                .btn {
                    width: 100%;
                }
            }

            .result {
                > div {
                    padding: 25px;
                }

                &__item {
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .calculator {
        .wrapper {
            grid-template: auto / 1fr 1fr;

            .form {
                max-width: 100%;
                grid-column: span 2;

                .btn {
                    margin-top: 40px;
                }
            }

            .result {
                > div {
                    gap: 25px;
                    padding: 25px 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .calculator {
        padding: 70px 0 0;

        .wrapper {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            gap: 15px;

            .form {
                margin-bottom: 35px;
                width: 100%;

                .field-square {
                    margin-top: 25px;
                }

                .btn {
                    width: 100%;
                }
            }
        }
    }
}
