.popup {
    padding-top: 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    min-width: 100%;
    min-height: 100vh;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    transition: all .2s ease;
    opacity: 0;
    pointer-events: none;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    .head {
        display: flex;
        align-items: center;

        .actions {
            display: flex;
            gap: 10px;
            margin-left: auto;

            .btn {
                border: 1px solid #424242;
                color: #FFF;
                height: 54px;
                font-size: 16px;
                font-weight: 500;
            }

            .btn.white {
                background-color: #FFF;
                color: #242424;
                font-size: 18px;
                gap: 10px;
            }
        }
    }

    .form {
        max-width: 910px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-size: 80px;
            font-weight: 500;
            line-height: 114%;
            color: #FFF;
        }

        p {
            color: #CBCBCB;
            font-size: 18px;
            line-height: 140%;
            max-width: 560px;
            margin: 20px 0 100px;
        }

        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;

            .input input, .select select {
                border-radius: 0;
                border: none;
                border-bottom: 1px solid #A4A4A4;
                padding: 0;
                color: #FFF;
                font-size: 20px;
                font-weight: 400;
            }

            .input {
                input {
                    &::placeholder {
                        color: #707070;
                    }
                }

                &:last-child {
                    grid-column: span 2;
                }
            }
        }

        span {
            display: block;
            max-width: 440px;
            color: #707070;
            font-size: 16px;
            line-height: 119%;
            margin: 70px 0 30px;

            b {
                font-weight: 500;
                color: #FFF;
            }
        }

        .btn {
            width: 270px;
        }
    }
}

@media screen and (max-width: 1700px) {
    .popup {
        padding-top: 20px;

        .form {
            h1 {
                font-size: 60px;
            }

            p {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .popup {
        .head {
            .logo {
                max-width: 160px;
                
                img {
                    width: 100%;
                }
            }

            .actions {
                .btn:not(.white) {
                    display: none;
                }

                .btn.white {
                    padding: 0 10px;
                    gap: 5px;
                    height: 38px;
                    font-size: 13px;

                    svg {
                        max-width: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 760px) {
    .popup {
        .form {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 14px;
                margin: 13px 0 30px;
            }

            .grid {
                display: flex;
                flex-direction: column;
                align-items: center;

                .input input, .select select {
                    font-size: 16px;
                    height: 50px;
                }
            }

            span {
                margin: 50px 0 25px;
                font-size: 13px;
                text-align: center;
            }

            .btn {
                width: 100%;
            }
        }
    }
}